<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"> <!-- Reference the compiled Tailwind CSS -->
    <title>About</title> <!-- Set the title to "About" -->
</head>
<body>


   <!--Responsive navbar-->
   <div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
    </div>
  
    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Lego Themes</summary>
            <ul class="p-2 bg-base-100 right-0">
               <!-- Theme links -->
               <li><a href="/lego/sets?theme=Technic">Technic</a></li>
               <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
               <li><a href="/lego/sets?theme=Bionicle">Bionicle</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>


    <!-- Main content -->
  
        <div class="container mx-auto">

          <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center ">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
      
                <p class="py-6">Everything about author</p>
      
              </div>
            </div>
          </div>
          
          <br>   
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="container mx-auto px-4">
              <img src="https://wallpapercave.com/wp/wp11069993.jpg" width="300px" height="700px" alt="profile">  
            </div>
            <div class="prose">       
              <p>Hi my name is Supachai Rukny from Bangok, Thailand.
                I am in the 3rd semester of the computer programming and analysis program.
                Basketball is a part of my life, this is the thing that I engaged the most since
                I was young. Nice to meet you!</p>
      
            </div>
      
          </div>
      
        </div>


      
</body>
</html>
    </div>
    